### Region Search

In [1]:
from pynoma import RegionSearch
rs = RegionSearch(3, 4, 1002741, 1002771)
normal, clinical = rs.get_data()
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,Location,Reference,Alternative
0,4-1002747-G-A,IDUA,p.Trp402Ter,stop_gained,[],120,142464,0.000842,0,4,1002747,G,A
1,4-1002750-C-T,IDUA,p.Ala403Val,missense_variant,[],2,141870,0.000014,0,4,1002750,C,T
2,4-1002751-C-G,IDUA,p.Ala403Ala,synonymous_variant,[],2,143004,0.000014,0,4,1002751,C,G
3,4-1002756-T-G,IDUA,p.Val405Gly,missense_variant,[],1,141746,0.000007,0,4,1002756,T,G
4,4-1002759-C-G,IDUA,p.Ser406Trp,missense_variant,[],2,142602,0.000014,0,4,1002759,C,G
5,4-1002766-C-T,IDUA,p.Ala408Ala,synonymous_variant,[],3,143012,0.000021,0,4,1002766,C,T
6,4-1002767-G-C,IDUA,p.Gly409Arg,missense_variant,[],2750,142238,0.019334,67,4,1002767,G,C
7,4-1002768-G-A,IDUA,p.Gly409Glu,missense_variant,[],2,143002,0.000014,0,4,1002768,G,A
8,4-1002770-A-C,IDUA,p.Thr410Pro,missense_variant,[],5,140858,0.000035,0,4,1002770,A,C
9,4-1002770-AC-A,IDUA,p.Val411SerfsTer29,frameshift_variant,[],1,140860,0.000007,0,4,1002770,AC,A

In [2]:
clinical

,clinical_significance,clinvar_variation_id,gold_stars,major_consequence,pos,variant_id
0,[Pathogenic],11908,2,stop_gained,1002747,4-1002747-G-A
1,[Pathogenic],555230,1,stop_gained,1002748,4-1002748-G-A
2,[Pathogenic],552095,2,stop_gained,1002752,4-1002752-G-T
3,[Likely_benign],724507,1,synonymous_variant,1002766,4-1002766-C-T
4,[Conflicting_interpretations_of_pathogenicity],92627,1,missense_variant,1002767,4-1002767-G-C
5,[Uncertain_significance],557616,1,missense_variant,1002768,4-1002768-G-A
6,[Uncertain_significance],593572,1,inframe_deletion,1002771,4-1002771-CCGTCCTGGACAGCAACCACACGGTGGG-C

In [3]:
normal, _ = rs.get_data(additional_population_info=True)
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,...,Alternative,African,Amish,Latino,Ashkenazi Jewish,East Asian,European (Finnish),European (non-Finnish),Other,South Asian
0,4-1002747-G-A,IDUA,p.Trp402Ter,stop_gained,[],120,142464,0.000842,0,4,...,A,3.122898e-04,0.000000e+00,2.205882e-04,0.000000e+00,0.000000e+00,2.906413e-04,1.552843e-03,4.668534e-04,0.000000e+00
1,4-1002750-C-T,IDUA,p.Ala403Val,missense_variant,[],2,141870,0.000014,0,4,...,T,4.811856e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,4-1002751-C-G,IDUA,p.Ala403Ala,synonymous_variant,[],2,143004,0.000014,0,4,...,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.103181e-05,0.000000e+00,0.000000e+00
3,4-1002756-T-G,IDUA,p.Val405Gly,missense_variant,[],1,141746,0.000007,0,4,...,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.561378e-05,0.000000e+00,0.000000e+00
4,4-1002759-C-G,IDUA,p.Ser406Trp,missense_variant,[],2,142602,0.000014,0,4,...,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.108873e-05,0.000000e+00,0.000000e+00
5,4-1002766-C-T,IDUA,p.Ala408Ala,synonymous_variant,[],3,143012,0.000021,0,4,...,T,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.656072e-05,0.000000e+00,0.000000e+00
6,4-1002767-G-C,IDUA,p.Gly409Arg,missense_variant,[],2750,142238,0.019334,67,4,...,C,5.884051e-02,0.000000e+00,1.006465e-02,9.052505e-03,1.856594e-02,0.000000e+00,4.666791e-04,2.192164e-02,6.609385e-04
7,4-1002768-G-A,IDUA,p.Gly409Glu,missense_variant,[],2,143002,0.000014,0,4,...,A,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.104144e-05,0.000000e+00,0.000000e+00
8,4-1002770-A-C,IDUA,p.Thr410Pro,missense_variant,[],5,140858,0.000035,0,4,...,C,1.217552e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
9,4-1002770-AC-A,IDUA,p.Val411SerfsTer29,frameshift_variant,[],1,140860,0.000007,0,4,...,A,2.435104e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [4]:
normal.iloc[:, 5:]

,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,Location,Reference,Alternative,African,Amish,Latino,Ashkenazi Jewish,East Asian,European (Finnish),European (non-Finnish),Other,South Asian
0,120,142464,0.000842,0,4,1002747,G,A,3.122898e-04,0.000000e+00,2.205882e-04,0.000000e+00,0.000000e+00,2.906413e-04,1.552843e-03,4.668534e-04,0.000000e+00
1,2,141870,0.000014,0,4,1002750,C,T,4.811856e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
2,2,143004,0.000014,0,4,1002751,C,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.103181e-05,0.000000e+00,0.000000e+00
3,1,141746,0.000007,0,4,1002756,T,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.561378e-05,0.000000e+00,0.000000e+00
4,2,142602,0.000014,0,4,1002759,C,G,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.108873e-05,0.000000e+00,0.000000e+00
5,3,143012,0.000021,0,4,1002766,C,T,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.656072e-05,0.000000e+00,0.000000e+00
6,2750,142238,0.019334,67,4,1002767,G,C,5.884051e-02,0.000000e+00,1.006465e-02,9.052505e-03,1.856594e-02,0.000000e+00,4.666791e-04,2.192164e-02,6.609385e-04
7,2,143002,0.000014,0,4,1002768,G,A,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.104144e-05,0.000000e+00,0.000000e+00
8,5,140858,0.000035,0,4,1002770,A,C,1.217552e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
9,1,140860,0.000007,0,4,1002770,AC,A,2.435104e-05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [5]:
rs = RegionSearch(2, 'X', 1002741, 1002771)
normal, clinical = rs.get_data()
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Number of Hemizygotes,Source,Chromosome,Location,Reference,Alternative
0,X-1002741-C-T,None,None,None,"[segdup, par]",1,31378,0.000032,0,0,Genome,X,1002741,C,T
1,X-1002742-G-A,None,None,None,"[segdup, par]",2,31316,0.000064,0,0,Genome,X,1002742,G,A
2,X-1002746-TATCA-T,None,None,None,"[segdup, par]",1,31376,0.000032,0,0,Genome,X,1002746,TATCA,T
3,X-1002765-TTATC-T,None,None,None,"[segdup, par]",9,31374,0.000287,0,0,Genome,X,1002765,TTATC,T
4,X-1002767-ATCTATCTT-A,None,None,None,"[segdup, par]",1,31348,0.000032,0,0,Genome,X,1002767,ATCTATCTT,A
5,X-1002771-ATCTT-A,None,None,None,"[segdup, par]",2,31338,0.000064,0,0,Genome,X,1002771,ATCTT,A

In [6]:
normal, _ = rs.get_data(standard=False)
normal

,consequence,flags,gene_id,gene_symbol,hgvs,hgvsc,hgvsp,lof,lof_filter,lof_flags,pos,rsid,variant_id,exome,genome
0,None,"[segdup, par]",None,None,None,None,None,None,None,None,1002741,rs782385877,X-1002741-C-T,None,"{'ac': 1, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
1,None,"[segdup, par]",None,None,None,None,None,None,None,None,1002742,rs181914603,X-1002742-G-A,None,"{'ac': 2, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
2,None,"[segdup, par]",None,None,None,None,None,None,None,None,1002746,None,X-1002746-TATCA-T,None,"{'ac': 1, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
3,None,"[segdup, par]",None,None,None,None,None,None,None,None,1002765,None,X-1002765-TTATC-T,None,"{'ac': 9, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
4,None,"[segdup, par]",None,None,None,None,None,None,None,None,1002767,None,X-1002767-ATCTATCTT-A,None,"{'ac': 1, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."
5,None,"[segdup, par]",None,None,None,None,None,None,None,None,1002771,None,X-1002771-ATCTT-A,None,"{'ac': 2, 'ac_hemi': 0, 'ac_hom': 0, 'an': 313..."

### Gene Search

In [7]:
from pynoma import GeneSearch
gs = GeneSearch(3, "idua")
normal, _ = gs.get_data()
normal

,Variant ID,Gene,Consequence,Annotation,Flags,Allele Count,Allele Number,Allele Frequency,Number of Homozygotes,Chromosome,Location,Reference,Alternative
0,4-987000-A-G,IDUA,c.-85A>G,5_prime_UTR_variant,[],1,140350,0.000007,0,4,987000,A,G
1,4-987002-A-G,IDUA,c.-83A>G,5_prime_UTR_variant,[],1,140342,0.000007,0,4,987002,A,G
2,4-987003-T-G,IDUA,c.-82T>G,5_prime_UTR_variant,[],1,139354,0.000007,0,4,987003,T,G
3,4-987004-G-A,IDUA,c.-81G>A,5_prime_UTR_variant,[],1,142964,0.000007,0,4,987004,G,A
4,4-987005-G-T,IDUA,c.-80G>T,5_prime_UTR_variant,[],1,143228,0.000007,0,4,987005,G,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5525,4-1004487-C-T,IDUA,c.*94C>T,3_prime_UTR_variant,[],4,143296,0.000028,0,4,1004487,C,T
5526,4-1004491-A-T,IDUA,c.*98A>T,3_prime_UTR_variant,[],1,143074,0.000007,0,4,1004491,A,T
5527,4-1004492-T-C,IDUA,c.*99T>C,3_prime_UTR_variant,[],2,143280,0.000014,0,4,1004492,T,C
5528,4-1004503-TTTA-T,IDUA,None,3_prime_UTR_variant,[],25,143260,0.000175,0,4,1004503,TTTA,T
5529,4-1004505-T-C,IDUA,c.*112T>C,3_prime_UTR_variant,[],1,143248,0.000007,0,4,1004505,T,C

### Variant Search

In [8]:
from pynoma import VariantSearch
vs = VariantSearch(3, '4-1002747-G-A')
df, meta = vs.get_data()
df

,Allele Count,Allele Number,Number of Homozygotes,Allele Frequency
African,13,41628,0,0.000312
African Female,6,22480,0,0.000267
African Male,7,19148,0,0.000366
Amish,0,898,0,0.000000
Amish Female,0,470,0,0.000000
Amish Male,0,428,0,0.000000
Latino,3,13600,0,0.000221
Latino Female,2,5882,0,0.000340
Latino Male,1,7718,0,0.000130
Ashkenazi Jewish,0,3316,0,0.000000
Ashkenazi Jewish Female,0,1756,0,0.000000
Ashkenazi Jewish Male,0,1560,0,0.000000
East Asian,0,3124,0,0.000000
East Asian Female,0,1440,0,0.000000
East Asian Male,0,1684,0,0.000000
European (Finnish),3,10322,0,0.000291
European (Finnish) Female,1,2476,0,0.000404
European (Finnish) Male,2,7846,0,0.000255
European (non-Finnish),100,64398,0,0.001553
European (non-Finnish) Female,59,37292,0,0.001582
European (non-Finnish) Male,41,27106,0,0.001513
Other,1,2142,0,0.000467
Other Female,1,1094,0,0.000914
Other Male,0,1048,0,0.000000
South Asian,0,3036,0,0.000000
South Asian Female,0,560,0,0.000000
South Asian Male,0,2476,0,0.000000
Total Female,69,73450,0,0.000939
Total Male,51,69014,0,0.000739
Total,120,142464,0,0.000842

In [11]:
meta

{'variantId': '4-1002747-G-A',
 'reference_genome': 'GRCh38',
 'chrom': '4',
 'pos': 1002747,
 'ref': 'G',
 'alt': 'A',
 'colocatedVariants': ['4-1002747-G-T'],
 'multiNucleotideVariants': [],
 'exome': None,
 'genome': {'ac': 120,
  'an': 142464,
  'ac_hemi': 0,
  'ac_hom': 0,
  'faf95': {'popmax': 0.0013063199999999997, 'popmax_population': 'NFE'},
  'filters': [],
  'age_distribution': None,
  'qualityMetrics': {'alleleBalance': {'alt': {'bin_edges': [0,
      0.05,
      0.1,
      0.15,
      0.2,
      0.25,
      0.3,
      0.35,
      0.4,
      0.45,
      0.5,
      0.55,
      0.6,
      0.65,
      0.7,
      0.75,
      0.8,
      0.85,
      0.9,
      0.95,
      1],
     'bin_freq': [0,
      0,
      0,
      0,
      0,
      3,
      3,
      8,
      26,
      16,
      26,
      17,
      13,
      5,
      3,
      0,
      0,
      0,
      0,
      0],
     'n_smaller': 0,
     'n_larger': 0}},
   'genotypeDepth': {'all': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [11,
      67,
      641,
      3138,
      6868,
      12475,
      21477,
      17174,
      5825,
      1989,
      945,
      476,
      212,
      94,
      59,
      30,
      19,
      11,
      2,
      4],
     'n_smaller': 0,
     'n_larger': 13},
    'alt': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [0,
      0,
      0,
      8,
      13,
      25,
      29,
      15,
      10,
      9,
      8,
      3,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0],
     'n_smaller': 0,
     'n_larger': 0}},
   'genotypeQuality': {'all': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [42,
      34,
      79,
      100,
      20247,
      14345,
      9795,
      6614,
      5441,
      3845,
      2497,
      2219,
      1635,
      1101,
      926,
      674,
      461,
      380,
      262,
      833],
     'n_smaller': 0,
     'n_larger': 0},
    'alt': {'bin_edges': [0,
      5,
      10,
      15,
      20,
      25,
      30,
      35,
      40,
      45,
      50,
      55,
      60,
      65,
      70,
      75,
      80,
      85,
      90,
      95,
      100],
     'bin_freq': [0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      119],
     'n_smaller': 0,
     'n_larger': 0}},
   'siteQualityMetrics': [{'metric': 'FS', 'value': 1.1223795673810724},
    {'metric': 'InbreedingCoeff', 'value': -0.0008395130824121466},
    {'metric': 'MQ', 'value': 59.99216274475224},
    {'metric': 'MQRankSum', 'value': 0},
    {'metric': 'QD', 'value': 13.505564},
    {'metric': 'ReadPosRankSum', 'value': 0.345},
    {'metric': 'SiteQuality', 'value': 100738},
    {'metric': 'SOR', 'value': 0.804},
    {'metric': 'VQSLOD', 'value': None}]}},
 'flags': [],
 'rsid': 'rs121965019',
 'sortedTranscriptConsequences': [{'canonical': True,
   'gene_id': 'ENSG00000127415',
   'gene_version': '12',
   'gene_symbol': 'IDUA',
   'hgvs': 'p.Trp402Ter',
   'hgvsc': 'c.1205G>A',
   'hgvsp': 'p.Trp402Ter',
   'lof': 'HC',
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'stop_gained',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000247933',
   'transcript_version': '8'},
  {'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '12',
   'gene_symbol': 'IDUA',
   'hgvs': 'p.Trp270Ter',
   'hgvsc': 'c.809G>A',
   'hgvsp': 'p.Trp270Ter',
   'lof': 'HC',
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'stop_gained',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000514224',
   'transcript_version': '1'},
  {'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '12',
   'gene_symbol': 'IDUA',
   'hgvs': 'n.7G>A',
   'hgvsc': 'n.7G>A',
   'hgvsp': None,
   'lof': None,
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'non_coding_transcript_exon_variant',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000502829',
   'transcript_version': '1'},
  {'canonical': None,
   'gene_id': 'ENSG00000127415',
   'gene_version': '12',
   'gene_symbol': 'IDUA',
   'hgvs': 'n.1312G>A',
   'hgvsc': 'n.1312G>A',
   'hgvsp': None,
   'lof': None,
   'lof_flags': None,
   'lof_filter': None,
   'major_consequence': 'non_coding_transcript_exon_variant',
   'polyphen_prediction': None,
   'sift_prediction': None,
   'transcript_id': 'ENST00000514698',
   'transcript_version': '5'}]}

In [9]:
vs = VariantSearch(2, '4-980801-G-A')
df, meta = vs.get_data()
df

,Allele Count,Allele Number,Number of Homozygotes,Allele Frequency
African,0.0,8642.0,0.0,0.000000
African Female,0.0,3654.0,0.0,0.000000
African Male,0.0,4988.0,0.0,0.000000
Latino,0.0,842.0,0.0,0.000000
Latino Female,0.0,410.0,0.0,0.000000
Latino Male,0.0,432.0,0.0,0.000000
Ashkenazi Jewish,0.0,286.0,0.0,0.000000
Ashkenazi Jewish Female,0.0,78.0,0.0,0.000000
Ashkenazi Jewish Male,0.0,208.0,0.0,0.000000
East Asian,0.0,1558.0,0.0,0.000000
East Asian Japanese,0.0,0.0,0.0,0.000000
East Asian Korean,0.0,0.0,0.0,0.000000
East Asian Other,0.0,0.0,0.0,0.000000
East Asian Female,0.0,538.0,0.0,0.000000
East Asian Male,0.0,1020.0,0.0,0.000000
European (Finnish),0.0,3446.0,0.0,0.000000
European (Finnish) Female,0.0,1838.0,0.0,0.000000
European (Finnish) Male,0.0,1608.0,0.0,0.000000
European (non-Finnish),2.0,15334.0,0.0,0.000130
European (non-Finnish) Bulgarian,0.0,0.0,0.0,0.000000
European (non-Finnish) Estonian,0.0,4524.0,0.0,0.000000
European (non-Finnish) North-western,2.0,8572.0,0.0,0.000233
European (non-Finnish) Other,0.0,2134.0,0.0,0.000000
European (non-Finnish) Southern,0.0,104.0,0.0,0.000000
European (non-Finnish) Swedish,0.0,0.0,0.0,0.000000
European (non-Finnish) Female,2.0,6762.0,0.0,0.000296
European (non-Finnish) Male,0.0,8572.0,0.0,0.000000
Other,0.0,1086.0,0.0,0.000000
Other Female,0.0,562.0,0.0,0.000000
Other Male,0.0,524.0,0.0,0.000000
South Asian,0.0,0.0,0.0,0.000000
South Asian Female,0.0,0.0,0.0,0.000000
South Asian Male,0.0,0.0,0.0,0.000000
Total Female,2.0,13842.0,0.0,0.000144
Total Male,0.0,17352.0,0.0,0.000000
Total,2.0,31194.0,0.0,0.000064